<html>

<head>
  <title>My Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
</head>

<body>
  <!-- header start -->
  <div id="header" class="section">
    <img alt="" class="img-circle" src="../../assets/bnj.jpg">
    <p>Benjie Barozo</p>
  </div>
  <!-- header end -->

  <!-- About Me section start -->
  <div class="section">
    <h1><span>About Me</span></h1>
    <p>
      I'm <strong>Benjie S. Barozo</strong>, 21 years of age, from Basey, Samar. I'm currently enrolled at Eastern Visayas State University. I love singing but singing doesn't love me. So I quit singing because I think it is not for me, so I decided to explore, and I discovered a lot.
        I love to play online games such as Mobile Legend and Call of Duty.
    </p>
    <p class="quote">"Declare variables, not war"</p>
  </div>
  <!-- About Me section end -->

  <!-- My Schedule section start -->
  <div class="section">
    <h1><span>My Everyday Routine</span></h1>
    <table>
      <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>
      <tr>
        <td>8-8:30</td>
        <td class="selected">Learn</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9-10</td>
        <td></td>
        <td class="selected">Practice</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1-1:30</td>
        <td></td>
        <td></td>
        <td class="selected">Play</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3:45-5</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="selected">Code</td>
        <td></td>
      </tr>
      <tr>
        <td>6-6:15</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="selected">Explore</td>
      </tr>
    </table>
  </div>
  <!-- My Schedule section end -->


  <!-- My Skills section start -->

  <div class="section">
    <h1><span>My Talent</span></h1>
    <ul>
    
      <li>Dancing <br />
        <progress min="0" max="100" value="80"></progress>
      </li>
      <li>Playing Guitar <br />
        <progress min="0" max="100" value="70"></progress>
      </li>
      <li>Singing <br />
        <progress min="0" max="100" value="10"></progress>
      </li>
    </ul>
  </div>

  <!-- My Skills section end -->


  <!-- Media section start -->
  <div class="section">
    <h1><span>My Photos</span></h1>
    <div class="row">
      <div class="row">
        <div class="column">
          <img class="demo cursor" src="../../assets/bnj.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/rara.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/barozo.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/jie.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/games.jpg" style="width:100%">
        </div>    
        <div class="column">
          <img class="demo cursor" src="../../assets/benj.jpg" style="width:100%">
        </div>
    </div>
    </div>
  </div>
  <!-- Contacts section end -->

  <div class="name">
     Barozo, Benjie S. EVSU student.
  </div>

</body>

</html>